body{

    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}


.h1- {
    
    color: darkslateblue;
    font-size: 60px;
}

.navBar a {

    padding-right: 60px;
    color:rgb(48, 30, 210)
}

#p-{

    color: rgb(34, 137, 255);
}

#ul- {
    margin: 0 auto;
    width: 90px;
    
}

.h1-2 {

    color: chocolate;
}

.m{

    align-items: center;
    display: grid;
    justify-content: center;
}